node-red.json
[{"id":"8480f912.f0c8d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"49c076fe.5b1b78","type":"switch","z":"8480f912.f0c8d8","name":"Switch ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ON","vt":"str"},{"t":"cont","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":320,"wires":[["a70bbb99.604648"],["fac3a0ac.dd306"]]},{"id":"3de38b14.f6df34","type":"mqtt in","z":"8480f912.f0c8d8","name":"In","topic":"FlowerLamp/In","qos":"0","datatype":"auto","broker":"c92bc7d1.e5e8d8","x":110,"y":320,"wires":[["49c076fe.5b1b78"]]},{"id":"914b87cb.3f34e8","type":"mqtt out","z":"8480f912.f0c8d8","name":"Out","topic":"Flowerlamp/Out","qos":"0","retain":"","broker":"c92bc7d1.e5e8d8","x":710,"y":320,"wires":[]},{"id":"fac3a0ac.dd306","type":"change","z":"8480f912.f0c8d8","name":"CheckOFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lamp OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":360,"wires":[["914b87cb.3f34e8"]]},{"id":"a70bbb99.604648","type":"change","z":"8480f912.f0c8d8","name":"CheckON","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lamp ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["914b87cb.3f34e8"]]},{"id":"c92bc7d1.e5e8d8","type":"mqtt-broker","z":"","name":"test","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"immortal_flower","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]